@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the whole page */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a; /* Matches slate-900 */
    margin: 0;
    padding: 0;
}